<%- include("header") -%>
    <div class="notes-container">
        <div class="notes">
            <div class="notes-head">
                Your Notes
            </div>
            <div class="notes-body">
                <% for(let i=0;i<notes.length;++i) { %>
                    <div class="note">
                        <div class="note-head">
                            <a class="note-head__title" href=<%=`/api/notes/${notes[i].id}` %> target="_blank">
                                <%=notes[i].title %>
                            </a>
                            <div class="note-head__image">
                                <form method="post" class="delete-form" action=<%=`/notes/${notes[i].id}/launch` %>>
                                    <button class="btn note-control launch">
                                        <span class="btn material-icons">launch</span>
                                    </button>
                                </form>
                                <form method="post" class="delete-form" action=<%=`/notes/${notes[i].id}/delete` %>>
                                    <button class="btn note-control delete">
                                        <span class="btn material-icons">delete</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="note-body">
                            <div class="note-description">
                                <div class="note-description__content">
                                    <%= notes[i].description %>
                                </div>
                                <div class="note-link">
                                    <a href=<%=notes[i].linkURL %> target=<%= (notes[i].linkURL==="" ||
                                            notes[i].linkURL==="#" ) ? "_self" : "_blank" %>
                                            rel="noreferrer">
                                            <%=notes[i].linkText %>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>
    <%- include("footer") -%>